/* 
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(https://images.unsplash.com/photo-1506102383123-c8ef1e872756?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8fA%3D%3D);
    background-repeat: no-repeat;
    background-size: cover;
}

h2 {
    position: absolute;
    margin: 180px 20px 30px 700px;
    color: yellow;
}

.instructions {
    color: black;
    position: absolute;
    margin-top: 630px;
    border: 2px solid yellow;
    padding: 5px;
}

.container {
    
    
    width: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 20px 0;
    padding-bottom: 50px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.timer-display {
    position: relative;
    width: 92%;
    background: white;
    left: 4%;
    font-family: 'Roboto Mono', monospace;
    color: #ff52ff;
    font-size: 30px;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(65, 5, 145, 0.25);
}

.buttons {
    width: 90%;
    margin: 60px auto 0 auto;
    display: flex;
    justify-content: space-around;
}

.buttons button {
    width: 120px;
    height: 45px;
    background-color: #a9ff52;
 
    border-color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}
.buttons button:nth-last-child(3) {
    background-color: yellow;
}
.buttons button:nth-last-child(2) {
    background-color: #e35209;
}

.buttons button:nth-last-child(1) {
    background-color: #f71e71;
}

.buttons button:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}



#current-time {
    font-size: 24px;
    color: whitesmoke;
    background-color: #ff52ff;
    padding: 15px;
    position: absolute;
    top: 20px;
    right: 20px;
    border-radius: 10px;
}

 .split-times {
    max-height: 150px;
    overflow-y: auto; 
    padding: 10px;
    border: 1px solid black; 
    border-radius: 5px; 
    background-color:yellow; 
    backdrop-filter: blur(5px);  
    position: absolute; 
    bottom: 70px; 
    left: 50%; 
    transform: translateX(-50%); 
    width: 25%; 
}

.split-times div {
    font-size: 16px;
    margin-bottom: 5px;
    color:black;
    border:1px solid red
} 
 */



 /* CSS for stopwatch */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(https://images.unsplash.com/photo-1506102383123-c8ef1e872756?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8fA%3D%3D);
    
    background-repeat: no-repeat;
    background-size: cover;
}

h2 {
    position: absolute;
    margin: 180px 20px 30px 700px;
    color: yellow;
    top: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.instructions {
    color: black;
    position: absolute;
    margin-top: 630px;
    padding: 5px;
    bottom: 5px;
    margin-left: 20px;
    width: 400px;
    
}
#olli {
    list-style-type: square;
}


.container {
    /* background-color: beige; */
    width: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 20px 0;
    padding-bottom: 50px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.timer-display {
    position: relative;
    width: 92%;
    background: white;
    left: 4%;
    font-family: 'Roboto Mono', monospace;
    color: #ff52ff;
    font-size: 30px;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(65, 5, 145, 0.25);
}

.buttons {
    width: 90%;
    margin: 60px auto 0 auto;
    display: flex;
    justify-content: space-around;
}

.buttons button {
    width: 120px;
    height: 45px;
    background-color: #a9ff52;
    /* color: #fff; */
    border-color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

.buttons button:nth-last-child(3) {
    background-color: yellow;
}

.buttons button:nth-last-child(2) {
    background-color: #e35209;
}

.buttons button:nth-last-child(1) {
    background-color: #f71e71;
}

.buttons button:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}

/* Time display */
#current-time {
    font-size: 24px;
    color: whitesmoke;
    background-color: #ff52ff;
    padding: 15px;
    position: absolute;
    top: 20px;
    right: 20px;
    border-radius: 10px;
}

.split-times {
    max-height: 150px;
    overflow-y: auto; 
    padding: 10px;
    border: 1px solid black; 
    border-radius: 5px; 
    background-color:yellow; 
    backdrop-filter: blur(5px);  
    position: absolute; 
    bottom: 70px; 
    left: 50%; 
    transform: translateX(-50%); 
    width: 25%; 
}

.split-times div {
    font-size: 16px;
    margin-bottom: 5px;
    color:black;
    border:1px solid red;
}
